[Unit]
Description=Smartspaces Pi Dashboard
Requires=network.target

[Service]
Type=simple
#POSTINSTALL_USER_HOOK
PermissionsStartOnly=true
ExecStart=/usr/local/bin/connector-websocket-to-azure-iot

[Install]
WantedBy=multi-user.target
